\---
layout: base
\---

/ List of Cheatsheets
%h1<= "Cheatsheets"

%p<
  Learn all the keyboard shortcuts! View and print simplified keyboard shortcut documents for all your favorite tools. Want to see more cheatsheets for here?
  %a{href: "https://github.com/ursooperduper/cheatsheets" }<
    Contribute to this project on Github! 

%h3<= "Available Cheatsheets"

%ul.cheat-list
  {% for cs in site.cheatsheets %}
  %li<
    %a{href: "{{ site.baseurl }}{{ cs.url }}"}<
      {{ cs.name }}
  {% endfor %}
