\---
layout: base
\---

/ List of Cheatsheets
%h1<= "Cheatsheets"

%p<
  Learn all the keyboard shortcuts for Mac apps and tools! Here, you can view and print beautiful keyboard shortcut documents. Want to see more cheatsheets here?
  %a{href: "https://github.com/ursooperduper/cheatsheets" }<
    Contribute to this project on Github!

%h3<= "Available Cheatsheets"

%ul.cheat-list
  {% for cs in site.cheatsheets %}
  %li<
    %a{href: "{{ site.baseurl }}{{ cs.url }}"}<
      {{ cs.name }}
  {% endfor %}
